<div class="col-xs-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>{{entity.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="btn-group btn-group-xs pull-right">
        <a class="btn btn-default" [routerLink]="['/checklist', entity.id]">
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </a>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="editStructureClicked(entity.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Редактировать</a></li>
          <li><a (click)="removeStructureClicked(entity.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить</a></li>
        </ul>
      </div>
      <div class="alert ">{{entity.description}}</div>
    </div>

    <div class="panel-body" *ngIf="entity.id !== 0">
      <h4>Тех. требования:</h4>
    </div>
    <table class="table table-striped" *ngIf="entity.id !== 0">
      <thead>  
        <tr>
          <th>№</th>
          <th>Тех. требование</th>
          <th>
            <div class="btn-group btn-group-xs pull-right">
              <button type="button" class="btn btn-default" (click)="addTechRequirementClicked()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let techReq of entity.technicalRequirements; let i = index">
          <td>{{i + 1}}</td>
          <td>
            <p *ngIf="techReq.condition"><i class="requirement-notation">Требование предъявляется, если:</i><br/> {{techReq.condition}}</p>
            <p *ngIf="!techReq.condition"><i class="requirement-notation">Требование предъявляется:</i><br/> всегда</p>
            <p><i class="requirement-notation">Требование:</i><br/> {{techReq.text}}</p>
            <p *ngIf="techReq.reason"><i class="requirement-notation">Требование на основании:</i><br/> {{techReq.reason}}</p>
          </td>
          <td>
            <div class="btn-group btn-group-xs pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a (click)="editTechRequirementClicked(techReq)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Редактировать</a></li>
                <li><a (click)="removeTechRequirementClicked(techReq.key)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить</a></li>
              </ul>
            </div>
          </td>
        </tr>

        <tr *ngFor="let techReq of entity.getParentTechnicalRequirements(); let i = index">
          <td><span class="label label-default">{{i + 1 + entity.technicalRequirements.length}}</span></td>
          <td>
            <p *ngIf="techReq.condition"><i class="requirement-notation">Требование предъявляется, если:</i><br/> {{techReq.condition}}</p>
            <p *ngIf="!techReq.condition"><i class="requirement-notation">Требование предъявляется:</i><br/> всегда</p>
            <p><i class="requirement-notation">Требование:</i><br/> {{techReq.text}}</p>
            <p *ngIf="techReq.reason"><i class="requirement-notation">Требование на основании:</i><br/> {{techReq.reason}}</p>
          </td>
          <td>
            <div class="btn-group btn-group-xs pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['/structure', techReq.key.entityId]"><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span> Перейти в элемент где находится тех. требование</a></li>
              </ul>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

    <div class="panel-body" *ngIf="entity.id !== 0">
      <h4>Требования к конструкции:</h4>
      <p>to do</p>
    </div>

    <div class="panel-body" *ngIf="entity.id !== 0">
      <h4>Требования к оформлению:</h4>
      <p>to do</p>  
    </div>

    <div class="panel-body" *ngIf="entity.id !== 0">
      <h4>Требования к модели:</h4>
      <p>to do</p>
    </div>

  </div>
</div>
